*{
    box-sizing: border-box;
}
body{
        font-family: Georgia, 'Times New Roman', Times, serifw;
        margin: 15px 30px;
        font-size: 17px;
        padding: 18px;
      background-image: url(img/Pic.jfif);
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      background-size: cover;
}


.main{
width: 778px;
height: auto;
background-color:rgba(0,0,0,6);
margin: auto;
padding: 10px 0px 10px 0px ;
text-align: center;
border-radius: 5px;
color: cornsilk;
}

.cantainer{
            background-color: rgba(0,0,0,0.5);
margin: auto;
border-radius: 7px;
width: 800px;
}
form{
    padding: 10px;
}

.name{
    width: 125px;
    margin-left: 25px;
    margin-top: 30px;
    color: white;
    font-size: 18px;
    font-weight: 800;
}

.fname{
    position: relative;
    left: 200px;
    top: -40px;
    line-height: 40px;
    border-radius: 5px;
    padding: 0px 22px;
    font-size: 16px;
}

.lname{
    position: relative;
    left: 217px;
    top: -40px;
    line-height: 40px;
    border-radius: 5px;
    padding: 0px 22px;
    font-size: 16px;
}
.compny,.email{ position: relative;
    left: 200px;
    top: -55px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0px 22px;
    font-size: 16px;
    color: white;
    }

.comp,.mail,.phon,.quali,.AYB{
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: monospace;
    margin-left: 17px;
}

.number{
        position: relative;
        left: 200px;
        top: -55px;
        line-height: 40px;
        width: 350px;
        border-radius: 6px;
        padding: 0px 22px;
        font-size : 16px
   
}

.option{
            position: relative;
            left: 200px;
            top: -55px;
            line-height: 40px;
            width: 532px;
            height: 40px;
            border-radius: 6px;
            padding: 0 22px;
            font-size: 16px;
            color: #555;
            outline: none;
            overflow: hidden;

}

.ABY{
            margin-left: 25px;
            color: white;
            font-size: 19px;

}

.radio{
display: inline-block;
padding-right:400px ;
font-size: 22px;
margin-left: 200px;
margin-top: 15px;
color: white;


}

.botton{
    text-align: center;
    position: relative;
    left: 250px;
font-size: larger;
    background-color: rgb(10, 229, 236);
    display: block;
    margin: 20px 0 0 20px;
    border: 2px solid rgb(0, 0, 3);
    border-radius: 12px;
        padding: 15px 100px;
        outline: rgb(5, 3, 0);
        color: rgb(5, 5, 5);
        cursor: pointer;
        transition: 0.25px;
}

.botton:hover{

    background-color: rgb(27, 67, 247);

}
